[class^=article-]:not(.article-row) > div{
    padding-left: 2%;
}

[class^=article-]:not(.article-row) > a{
    padding-bottom: 5%;
    padding-top: 5%;
}


.article-2 > *:nth-child(n+3), .article-3 > *:nth-child(n+3){
    border-top: var(--border-1);
}


.article-1{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column: span 2;
}

[class^=article-]:not(.article-row) > h2{
    grid-column: 1/-1;
}


@media screen and (min-width: 1024px){

    .articles{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .article-row{
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: repeat(3, 33%);
    }

    .article-row > *{
        border-left: var(--border-1);
    }

    .article-row > *:nth-child(3n+1){
        border-left: none;
    }

    .article-1 > div:nth-child(-n+3){
        grid-column: span 2;
        border-bottom: var(--border-1);
    }

    .article-2{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: fit-content(30px);
    }


    .article-1 > *:nth-child(5n+4), .article-3 > *:nth-child(n+3){
        border-right: var(--border-1);
    }



    .article-3{
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: auto;
        grid-column: 1/4;
    }

    .article-3 > div:nth-of-type(1){
        grid-column: span 4;
        display: grid;
    }

    .article-3 > *:nth-child(6n+6){
        border-right: none;
    }

    /*Linee articoli*/
    .articles > div{
        border-bottom: var(--border-double);
    }


    [class^="article-"]:not(.article-row) > * > .img-container > p{
        grid-column: 1;
        min-font-size: 20px;
        max-font-size: 40px;
    }

    [class^="article-"]:not(.article-row) > * > .img-container > img{
        grid-column: 2;
        justify-self: right;
        align-self: center;

    }

    .article-1 > * > .img-container, .article-2 > * > .img-container{
        display: grid;
        grid-template-columns: 60% 40%;
    }



    .article-1 > * > .img-container > img{
        min-width: 40%;
        max-width: 100%;
    }


    .article-2 > * > .img-container{
        height: 100%;
        align-items: center;
    }

    .article-2 > * > .img-container > img{
        min-width: 80%;
        max-width: 100%;
    }


    .article-3 > * > .img-container{
        display: grid;
        grid-template-columns: 33% 66%;
        grid-column-gap: 2%;
    }

    .article-3 > * > .img-container > img{
        grid-column: 2;
        min-width: 60%;
        max-width: 100%;
    }



}

@media screen and (max-width: 1024px){
    .articles{
        display: grid;
        grid-template-columns: 100%;
        column-gap: 2%;
        margin-left: 10%;
        margin-right: 10%;
        grid-auto-flow: row;
        justify-items: center;
    }


    .article-row > *{
        border-left: none;
    }

    [class^=article-]:not(.article-row){
        border-bottom: var(--border-double);
    }

    .article-1 > div:nth-child(-n+3){
        grid-column: span 2;
        border-bottom: var(--border-1);
    }

    .article-1 > *:nth-last-child(5n+1){
        border-left: var(--border-1);
        padding-left: 5%;
    }

    .article-2{
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .article-3{
        display: grid;
        grid-template-columns: 100%;
    }


    .article-2 > *:nth-child(-n+2){
        grid-column: 1 / 3;
    }

    [class^="article-"]:not(.article-row, .article-3) > * > .img-container{
        display: grid;
        grid-template-columns: 60% 40%;
    }

    [class^="article-"]:not(.article-row, .article-3) > * > .img-container > p{
        grid-column: 1;
        min-font-size: 20px;
        max-font-size: 40px;
    }

    [class^="article-"]:not(.article-row, .article-3) > * > .img-container > img{
        grid-column: 2;
        justify-self: right;
        align-self: center;
        min-width: 60%;
        max-width: 90%;
    }

    .article-3 > * > .img-container{
        display: grid;
        grid-template-columns: 100%;
    }

    .article-3 > * > .img-container > img{
        grid-row: 1;
        min-width: 70%;
        max-width: 100%;
    }


    .article-2 > *:nth-last-child(1){
        border-left: var(--border-1);
    }

}


