.business{
    display: grid;
}

.business > h2{
    border-bottom: var(--border-double);
}

.business > div{
    border-bottom: var(--border-1);
}

@media screen and (min-width: 1600px){
    .business{
        grid-column: 3/4;
        grid-template-columns: fit-content(300px);
    }


}

@media screen and (max-width: 1600px){
    .business{
        grid-template-columns: repeat(2, auto);
    }

    .business > *:not(:nth-last-child(-n + 4)){
        grid-column: 1/3;
    }

    .business > *:nth-last-child(-n + 4):nth-of-type(even){
        border-left: var(--border-1);
        padding-left: 5%;
    }

}