.header{
    display: grid;
    grid-template-columns: 40% 60%;
}

.header > *{
    font-size: 20px;
}

.header-add{
    display: grid;
    grid-template-columns: repeat(3, 30%);
}

.header-buttons > p{
    box-sizing: content-box;
    text-align: center;
}

.header > div > a{
    height: inherit;
    text-align: center;
}


.logo, .header-nav{
    padding-left: 30%;
}

.header-buttons, .header-add{
    padding-right: 10%;
}


.logo{
    justify-self: left;
    align-self: center;
}




.header-buttons{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-column-gap: 5%;
    align-content: center;
    align-items: center;
}

.header-nav{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-column-gap: 5%;
    align-items: center;
}




@media screen and (min-width: 1024px){
    .logo > img{
        min-width: 50%;
        max-width: 80%;
    }

    .header{
        border-bottom: var(--border-2);
    }
    .header > :nth-child(n+3){
        border-top: var(--border-1);
    }

    .header-buttons{
        justify-self: stretch;
    }

    .header-buttons > *:nth-child(3){
        font-size: 25px;
    }

    .header-buttons > *:nth-child(3):hover{
        align-self: end;
        padding: 0 20% 20% 20%;
        border-bottom: 5px solid black;
    }

    .header-add > *, .header-buttons > * {
        border-left: var(--border-1);
        padding-left: 5%;
        align-self: center;
    }

    .header-add{
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: auto;
    }

    .header-add > a{
        display: grid;
        align-items: center;
        grid-template-columns: 20% 80%;
        font-size: 15px;
        text-align: left;
    }

    .header-add > a > div > *{
        text-align: left;
        padding-left: 5%;
    }

    .header-add > a > img{
        min-width: 80%;
        max-width: 100%;
    }


    .sub{
        background: #02c3aa;
        text-align: center;
    }

    .sub:hover{
        color: white;
        background: #04777b;
    }

    .sub + *{
        border-left: none;

    }

    .header-nav{
        padding-right: 5%;
    }
}

@media screen and (max-width: 1280px){
    .header-add{
        grid-template-columns: repeat(2, 50%);
    }

    .header-add > a:nth-last-child(-n+1){
        display: none;
    }
}

@media screen and (max-width: 1024px){
    .header-add, .header-buttons > *:nth-child(-n+2), .header-buttons > *:nth-child(-n+2) > *{
        display: none;
    }

    .header{
        grid-template-columns: 40% 60%;
    }


    .logo{
        padding-right: 5%;
    }

    .logo > img{
        min-width: 100%;
        max-width: 120%;
    }

    .header-buttons{
        font-size: 40px;
        grid-row: 1;
        grid-column: 2;
        grid-template-columns: 100px 80px;
        grid-column-gap: 5%;
        justify-content: right;
    }

    .header-buttons > *:nth-child(4n+3){
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .header-buttons > *:nth-child(n+3){
        padding-left: 5%;
        border-left: var(--border-1);
    }



    .header-nav{
        grid-row: 2;
        grid-column: span 2;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 30px;
        border-top: var(--border-1);
        border-bottom: var(--border-1);
        overflow: auto;
    }


}

@media screen and (max-width: 600px){
    a, p, h2, h3{
        word-break: normal;
        font-size: 20px;
    }

    .logo{
        padding-left: 5%;
        width: 70%;
    }
}

@media screen and (max-width: 350px){
    .logo{
        padding: 0 30% 0 20%;
        grid-row: 1;
        grid-column: span 2;
        justify-self: center;
        border-bottom: var(--border-1);
    }

    .header-buttons{
        grid-column: span 2;
        grid-row: 2;
        justify-self: center;
        padding-left: 10%;
        overflow: auto;
    }

    .header-buttons > a:nth-child(3){
        border-left: none;
    }

    .header-nav{
        grid-row: 3;
    }

}

