.main, .header, .side-menu, .footer{

    --border-1: 1px solid rgba(0,0,0, 0.5);
    --border-2: 1px solid rgba(0,0,0, 0.75);
    --border-double: 4px double rgba(0,0,0, 0.75);
}

.img-right{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.img-right > * > img{
    padding-bottom: 5%;
}

a{
    color: black;
    text-decoration: none;
}

.underline:hover{
    text-decoration: 2px rgba(0,0,0,0.5) underline;
}

@media screen and (min-width: 1600px){
    .main{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
    h2{
        min-font-size: 40px;
        max-font-size: 40px;
    }

    h3{
        min-font-size: 20px;
        max-font-size: 30px;
    }
    p, a{
        max-font-size: 20px;
        min-font-size: 10px;
    }
}

@media screen and (max-width: 1600px){
    .site-wrapper{
        overflow-x: hidden;
    }

    .main{;
        justify-items: center;
    }

    h2{
        min-font-size: 20px;
        max-font-size: 30px;
    }

    h3{
        min-font-size: 20px;
        max-font-size: 30px;
    }
    p, a{
        max-font-size: 20px;
        min-font-size: 10px;
    }

    .img-right > * > img{
        min-width: 100%;
        max-width: 120%;
    }

}


