


@media screen and (min-device-width: 600px){
    .main{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media screen and (max-device-width: 600px){
    .main{
        grid-template-columns: auto;
        column-gap: 2%;

        grid-auto-flow: row;
        justify-items: center;
    }

    .main > div{
        border-bottom: double rgba(0, 0, 0, 0.75);
    }

}

.img-right{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.img-right > img{
    min-width: 200px;
    padding-bottom: 5%;
}


