nav[class^="header-row-"]{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    position: relative;
    height: auto;
}

[class^=header-row-] > *{
    font-size: 125%;
}

[class^=header-row-] > div > p{
    height: inherit;
    border-left: 1px solid black;
    text-align: center;
}

.logo{
    text-align: center;
}

.header-nav{
    display: flex;
    justify-content: center;
}

.header-add{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
}
.header-buttons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    align-content: center;
    align-items: center;
}

.header-buttons > p{
    box-sizing: content-box;
    border-left: 1px solid black;
    text-align: center;
}
/* Linee */

[class^=header-row-] > *:nth-child(4n+1) {
    border-left: none;
}

[class^=header-row-]::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
}

[class=header-row-1]::after{
    opacity: 0.5;
}

/* Elenco seconda riga header */
ul {
    list-style-type: none;
    overflow: hidden;
    padding: 1% 5% 1% 5%;
    display: inline-block;
}


li{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 0px;
}

@media screen and (max-device-width: 600px){
    li{
        font-size: 40px;
    }
}